# Ignore Flax project files


# Ignore Visual Studio project files (generated locally)


# Ignore thumbnails created by Windows


# Ignore files built by Visual Studio


# Ignore Nuget packages folder

